/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 6, 15, 8:01:37 PM
    Author     : johnenrick
*/

.fontInfo{
    font-size:15px;
}
.mini-col-padding .column{
    padding-left:5px;
    padding-right: 5px;
}
.center {
    text-align: center;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}